/*DESIGN PROFILE - Default */
/* Copyright 2013 Infogrid Pacific Pte. Ltd. All rights reserved. */
/* Profile Name: CSS Minification */
/* Created By: Infogrid Pacific */
/* Creation Date: 2013-08-25 */
/* Modified By: Infogrid Pacific */
div.galley-rw {
width: 30em;
background-color: white;
padding: 2em;
margin: 0 auto 0 auto;
}

div.controls {
position: fixed;
display: flex;
height: 30px;
top: 0;
right: 0;
left: 0;
background-color: #ddd;
}

div.controls p {
flex: 1;
border: 2px solid #ddd;
text-align: center;
margin: 0;
padding: 0;
}

iframe {
position: fixed;
			top: 30px; bottom: 0;
			left: 0;
			width: 10em;
			overflow: none;
			margin: 0;
			padding: 0em;
			padding-left: 42px;
			padding-left: calc(1em + 26px);
			background: inherit;
			background-color: #F8F8F8;
			z-index: 1;
border: 0;
height: 100vh;
}
.date-rw { font-family: Date, NamedPara, Galley; }
.list-toc-rw { font-family: TableOfContents, NamedLists, Galley; }
.frontmatter-rw .title-block-rw .title-num-rw { font-family: FrontmatterTitleNumber, FrontmatterTitleBlock, TitleBlock, Galley; }
body, section, div, table, thead, tbody, tfoot, th, td, p, pre, ul, ol, dl, dt, dd, li, span, nav, header, footer { margin: 0; padding: 0; }
body { margin: 0; padding: 0; }
div { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.copyright-rw {font-size: 0.9em; padding-right: 1em; padding-top: 1em; font-family: Copyright, TextBlock, Galley; line-height: 1.2em; padding-left: 1em; }
.copyright-rw p { text-align: left; text-indent: 0; margin-bottom: 0; padding-bottom: 0.5em; }
.galley-rw {word-spacing: 0; font-size: 1.0em; font-weight: normal; text-align: justify; font-family: Galley, serif; letter-spacing: 0; line-height: 1.2em; }
p { text-indent: 0; padding-bottom: 0; }
p+p { text-indent: 1.3em; }
.blank-line-rw { height: 1em; }
.firstpara-rw { text-indent: 0; }
p.date-rw { text-align: right; font-style: italic; }
.subject-rw { text-indent: 0; font-weight: bold; font-style: italic; }
div+p { text-indent: 0; }
p.blank-line-rw+p { text-indent: 0; }
h2+p { text-indent: 0; }
.block-rw p:first-child { text-indent: 0; }
.paras-rw p:first-child { text-indent: 0; }
div.blank-line-rw { height: 1em; text-align: center; margin: 0; }
span.date-rw { font-style: italic; }
a:link { color: rgb(0, 100, 150); text-decoration: none; }
a:visited { color: rgb(0, 100, 150); }
a:hover { color: rgb(0, 100, 150); text-decoration: underline; }
a:active { color: rgb(0, 100, 150); }
.-epub-media-overlay-active, .-readium-epub-media-overlay-active { color: red; background-color: inherit; }
.galley-rw h2 {font-size: 1em; line-height: 1em; color: rgb(0, 0, 0); margin-top: 2em; margin-bottom: 1em; page-break-after: avoid; font-weight: normal; text-transform: uppercase; font-style: normal; text-align: center; }
.galley-rw h2+div { margin-top: 0; }
h2 {hyphens: none; font-family: Heading2, Heading, Galley; -webkit-hyphens: none; -moz-hyphens: none; -o-hyphens: none; }
.Part-rw .title-block-rw p { text-indent: 0; }
.Chapter-rw .title-block-rw p { text-indent: 0; }
.frontmatter-rw .title-block-rw p { text-indent: 0; }
.frontmatter-rw .title-block-rw {padding-right: 1em; margin-bottom: 1em; padding-bottom: 0em; padding-top: 2em; font-family: FrontmatterTitleBlock, TitleBlock, Galley; padding-left: 1em; text-align: center; }
.frontmatter-rw .title-block-rw h1 {font-size: 2em; font-weight: normal; color: rgb(0, 0, 0); font-family: FrontmatterTitle, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.frontmatter-rw .title-block-rw .title-sub-rw {font-size: 1.5em; font-family: FrontmatterTitleSubTitle, FrontmatterTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.frontmatter-rw .title-block-rw .title-author-rw {line-height: 1em; font-family: FrontmatterTitleAuthor, FrontmatterTitleBlock, TitleBlock, Galley; font-style: italic; text-align: inherit; }
.frontmatter-rw .title-block-rw .title-other-rw {font-size: 1em; font-family: FrontmatterTitleOther, FrontmatterTitleBlock, TitleBlock, Galley; text-align: inherit; }
.Part-rw .title-block-rw {padding-right: 1em; margin-bottom: 1em; padding-bottom: 0em; padding-top: 2em; font-family: PartTitleBlock, TitleBlock, Galley, sans-serif; padding-left: 1em; text-align: center; }
.Part-rw .title-block-rw .title-num-rw {font-size: 2.00em; font-weight: normal; padding-bottom: 1em; color: rgb(0, 0, 0); font-family: PartTitleNumber, PartTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.Part-rw .title-block-rw h1 {font-size: 2.00em; font-weight: normal; padding-bottom: 0.5em; color: rgb(0, 0, 0); font-family: PartTitle, PartTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.Part-rw .title-block-rw .title-sub-rw {font-size: 1.4em; font-family: PartTitleSubTitle, PartTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.Part-rw .title-block-rw .title-author-rw {font-style: italic; font-size: 1.1em; font-family: PartTitleAuthor, PartTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.Part-rw .title-block-rw .title-other-rw {font-style: italic; font-size: 1em; font-family: PartTitleOther, PartTitleBlock, TitleBlock, Galley; line-height: 1em; text-align: inherit; }
.Chapter-rw .title-block-rw {padding-right: 1em; margin-bottom: 1em; padding-bottom: 0em; padding-top: 2em; font-family: ChapterTitleBlock, TitleBlock, Galley; padding-left: 1em; text-align: center; }
.Chapter-rw .title-block-rw .title-num-rw {font-size: 1.8em; font-weight: normal; padding-bottom: 0.5em; text-align: inherit; font-family: ChapterTitleNumber, ChapterTitleBlock, TitleBlock, Galley; font-style: normal; line-height: 1em; }
.Chapter-rw .title-block-rw h1 {font-size: 2em; font-weight: normal; color: rgb(0, 0, 0); line-height: 1em; padding-bottom: 0.5em; font-family: ChapterTitle, ChapterTitleBlock, TitleBlock, Galley; font-style: normal; text-align: inherit; }
.Chapter-rw .title-block-rw .title-sub-rw {text-align: inherit; font-size: 1.5em; font-family: ChapterTitleSubTitle, ChapterTitleBlock, TitleBlock, Galley; line-height: 1em; padding-bottom: 0.5em; }
.Chapter-rw .title-block-rw .title-author-rw {font-size: 1.1em; font-weight: normal; color: rgb(0, 0, 0); text-indent: 0; line-height: 1em; padding-bottom: 1em; font-family: ChapterTitleAuthor, ChapterTitleBlock, TitleBlock, Galley; font-style: italic; text-align: inherit; }
.Chapter-rw .title-block-rw .title-other-rw {font-size: 1.5em; font-weight: normal; color: rgb(0, 0, 0); line-height: 1em; padding-bottom: 1em; font-family: ChapterTitleOther, ChapterTitleBlock, TitleBlock, Galley; font-style: normal; text-align: inherit; }
.title-block-book-rw {font-size: 1em; font-family: BookTitlePage, Galley; line-height: 1em; padding-top: 4em; text-align: center; }
.title-block-book-rw h1 {font-size: 2.5em; font-weight: normal; color: rgb(0, 0, 0); line-height: 1em; padding-bottom: 0.5em; font-family: BookTitle, BookTitlePage, Galley; font-style: normal; text-align: inherit; }
.title-block-book-rw .title-sub-rw {font-size: 1.8em; font-weight: normal; color: rgb(0, 0, 0); text-indent: 0; line-height: 1em; padding-bottom: 1.5em; font-family: BookTitleSubTitle, BookTitlePage, Galley; font-style: normal; text-align: inherit; }
.title-block-book-rw .title-author-rw {font-size: 1.7em; font-weight: normal; text-indent: 0; line-height: 1em; padding-bottom: 1.5em; font-family: BookTitleAuthor, BookTitlePage, Galley; font-style: normal; text-align: inherit; }
.title-block-book-rw .title-other-rw {font-size: 1em; font-weight: normal; text-indent: 0; line-height: 1em; padding-bottom: 1em; font-family: BookTitleOther, BookTitlePage, Galley; font-style: normal; text-align: inherit; }
.imprint-rw {margin-bottom: 0.5em; border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); margin-top: 2.00em; padding-bottom: 0.5em; padding-top: 0.5em; font-family: Imprint, BookTitlePage, Galley; text-align: center; }
.imprint-rw p { font-size: 0.9em; font-style: normal; font-weight: normal; line-height: 1em; text-indent: 0; }
.title-block-book-rw p {font-size: 1em; line-height: 1em; padding-bottom: 0.5em; text-align: inherit; font-weight: normal; font-style: normal; text-indent: 0em; }
.title-block-book-rw p+p { text-indent: 0em; }
.list-named-rw { position: relative; padding: 0; margin: 0; }
.list-named-rw ol { list-style-type: none; }
.list-named-rw ol li { list-style-type: none; }
.list-named-rw p { text-indent: 0; }
.list-named-rw p+p { text-indent: 0; }
.list-toc-rw ol { line-height: 1.2em; margin-left: 0em; }
.block-rw h4 { font-size: 0.9em; line-height: 1.2em; text-align: left; text-indent: 0; font-style: normal; font-weight: bold; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }
.block-rw h5 { font-size: 0.9em; line-height: 1.2em; text-align: left; text-indent: 0; font-style: italic; font-weight: bold; margin-top: 1em; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }
.block-rw h6 { font-size: 0.9em; line-height: 1.2em; text-align: left; font-style: italic; margin-top: 0.5em; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }
.communication-letter-rw {box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); margin-right: 0em; margin-bottom: 1em; margin-top: 1em; padding-right: 1em; margin-left: 0em; padding-bottom: 1em; padding-top: 1em; font-family: Letter, TextBlock, Galley; border: 1px solid rgb(128, 128, 128); padding-left: 1em; }
.communication-letter-rw .date-rw { text-align: right; }
.communication-letter-rw .subject-rw { text-align: center; text-indent: 0; margin-top: 1em; margin-bottom: 1em; }
.communication-letter-rw .valediction-rw { text-indent: 0; margin-top: 1em; margin-bottom: 0.5em; }
.extract-rw {margin-top: 1em; font-family: Extract, TextBlock, Galley; padding-right: 1em; margin-bottom: 1em; padding-left: 1em; }
div.poem-normal-rw { width: 100%; margin: 0 auto 0 auto; }
div.poem-normal-rw .poem-body-rw { margin: 0 auto 1em auto !important; display: table; }
div.poem-normal-rw div+p { text-indent: 0 !important; margin-left: 0; }
div.poem-normal-rw p+p { text-indent: 1.3em; margin-left: 0; }
div.poem-normal-rw .title-block-rw { padding: 2px; margin: 0 0 1em 1em; display: block; }
div.poem-title-block-rw {padding: 0; margin: 0 auto 1em auto; display: block; }
div.poem-rw .title-block-rw h1 { color: black; font-weight: normal; font-style: normal; font-size: 1.5em; text-align: center; padding-bottom: 0.5em; }
div.poem-title-block-rw h1 { color: black; font-weight: normal; font-style: normal; font-size: 1.5em; text-align: center; padding-bottom: 0.5em; }
div.poem-normal-rw .title-block-rw .title-sub-rw { font-weight: normal; font-style: normal; text-align: center; font-size: 1em; padding: 0 0 0 0; }
div.poem-title-block-rw .title-sub-rw { font-weight: normal; font-style: normal; text-align: center; font-size: 1em; padding: 0 0 0 0; text-indent: 0; }
div.poem-normal-rw .title-block-rw .title-other-rw { text-align: center; font-style: normal; }
div.poem-title-block-rw .title-other-rw { text-align: center; font-style: normal; }
div.poem-normal-rw .title-block-rw .title-num-rw { font-weight: bold; text-align: center; }
div.poem-title-block-rw .title-num-rw { font-weight: bold; text-align: center; }
div.poem-rw h4 { font-weight: normal; font-style: normal; font-size: inherit; line-height: 1em; text-align: center; padding: 0.5em 0 0.5em 0; margin: 0; }
div.poem-rw h2 {padding: 0.5em 0 0.5em 0; font-size: inherit; text-transform: uppercase; text-align: center; font-weight: normal; margin: 0; line-height: 1em; font-style: inherit; }
div.poem-rw h3 {padding: 0.5em 0 0.5em 0; font-size: inherit; text-align: center; font-weight: normal; margin: 0; line-height: 1em; font-style: inherit; }
div.poem-rw h5 {padding: 0.5em 0 0.5em 0; font-size: inherit; text-align: center; font-weight: bold; margin: 0; line-height: 1em; font-style: italic; }
div.poem-rw div.stanza-rw h4 { font-weight: normal; font-style: normal; font-size: inherit; line-height: 1em; text-align: center; padding: 0em 0 1em 0 !important; margin: 0 !important; }
div.poem-rw .poem-body-rw div.stanza-rw { margin: 0em 0 0em 0; font-style: italic; }
p+div.poem-rw .poem-body-rw div.stanza-rw { margin: 0.5em 0 0.5em 0; font-style: italic; }
p+div.poem-normal-rw { margin: 0.5em 0 0em 0 !important; }
div.stanza-rw p { text-indent: -1.3em; margin-left: 1.3em; padding-bottom: 0; margin-bottom: 0; }
div.stanza-rw p+p { text-indent: -1.3em; margin-left: 1.3em; padding-bottom: 0; margin-bottom: 0; }
.section-break { font-size: 12px; font-weight: bold; font-family: Arial, sans-serif; text-align: center; background-color: rgb(220, 220, 220); border-top: 1px solid rgb(120, 120, 120); border-bottom: 1px solid rgb(120, 120, 120); padding-top: 15px; }
p.alt-rw { font-family: sans-serif; }
.running-header-rw { position: absolute; top: 0; left: 0; width: 100%; height: 30px; }
.header-left-rw { font-style: italic; }
.header-right-rw { font-style: normal; }
.folio-left-rw { display: block; text-align: center; }
.folio-right-rw { display: block; text-align: center; }